ul {
    display: flex;
    list-style: none;
    gap: 5px;
}

ul>li {
    padding: 8px 15px;
    background-color: brown;
    border-radius: 5px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width: 576px) {
    .container>ul {
        overflow-x: scroll;
    }


}